@{
	ViewBag.Title = "Tags";
}

<div class="d-flex row g-3">
	<h3 class="text">Tags</h3>
	<p>
		A tag is a keyword or label that categorizes your question with other, similar questions.
		<br />Using the right tags makes it easier for others to find and answer your question.
	</p>
	<br />
	<form method="GET" class="w-50 m-0">
		<div class="input-group m-3">
			<input type="text" class="form-control"
				   placeholder="Filter by tag name" name="TagSearch"
				   value="@ViewBag.TagSearchString">
			<button class="btn btn-outline-secondary"
					type="submit">
				<i class="bi bi-search"></i>
			</button>
		</div>
	</form>

	<div class="row">
		@foreach (var tag in ViewBag.Tags)
		{
			<div class="col-sm-3 border mb-3 m-3">
				<a class="btn alert-secondary m-2" href="/Questions/Index/@tag.Id">@tag.TagName</a>
				<div class="description">@tag.Description</div>
			</div>
		}
	</div>

</div>
