################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ProiectStackOverflow/.vs/ProiectStackOverflow/FileContentIndex/07c44ed4-88a1-4069-aabf-edbd061d6ecd.vsidx
