################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ProiectStackOverflow/.vs/ProiectStackOverflow/FileContentIndex/07c44ed4-88a1-4069-aabf-edbd061d6ecd.vsidx
.vsidx
/ProiectStackOverflow/.vs/ProiectStackOverflow/FileContentIndex/28a9f46e-410d-42c3-97dc-ae391187c6e3.vsidx
/ProiectStackOverflow/.vs/ProiectStackOverflow/FileContentIndex/2c3c548b-266e-4091-9d22-9096c0825a99.vsidx
/ProiectStackOverflow/.vs/ProiectStackOverflow/FileContentIndex/44c4b397-52ec-4f86-8a6c-6b2629a2968a.vsidx
/ProiectStackOverflow/.vs/ProiectStackOverflow/FileContentIndex/4bd7f774-2b7d-467c-a263-ffadc70da711.vsidx
/ProiectStackOverflow/.vs/ProiectStackOverflow/FileContentIndex/6caf3c9a-fe64-4091-b910-94ba7f1e91e2.vsidx
/ProiectStackOverflow/.vs/ProiectStackOverflow/FileContentIndex/70576a68-6985-4d94-abf9-70ec7d9cbe2a.vsidx
/ProiectStackOverflow/.vs/ProiectStackOverflow/FileContentIndex/95d864ed-6de9-49b5-922f-eb84e54b36ff.vsidx
/ProiectStackOverflow/.vs/ProiectStackOverflow/FileContentIndex/c9d9f0de-be58-472f-b35c-7215c4700279.vsidx
/ProiectStackOverflow/.vs/ProiectStackOverflow/FileContentIndex/ccbbfd42-81ae-485b-97b0-63a59a8e2fa2.vsidx

/ProiectStackOverflow/.vs/ProiectStackOverflow/FileContentIndex/7427c7f5-0c4c-482d-99c9-4ebbf73c5d58.vsidx 
/ProiectStackOverflow/.vs/ProiectStackOverflow/FileContentIndex/c0faf2e1-35bd-4b1a-a983-f65880a3d8ed.vsidx
/ProiectStackOverflow/.vs/ProiectStackOverflow/FileContentIndex/c7f37242-1174-477a-aa87-92070b1c7d6b.vsidx
/ProiectStackOverflow/.vs/ProiectStackOverflow/FileContentIndex/f99af6d1-90ff-4e31-857e-8381d8e4eb04.vsidx
/ProiectStackOverflow/.vs/ProiectStackOverflow/FileContentIndex/fed4f27a-bdf3-4808-a7c5-25c6eea09518.vsidx
/ProiectStackOverflow/.vs/ProiectStackOverflow/FileContentIndex/821d3d52-e3fa-4936-87cf-811e0a3da9ff.vsidx
/ProiectStackOverflow/.vs/ProiectStackOverflow/FileContentIndex/b5dc0ed6-15ae-4911-bfb4-e92340ba6ce9.vsidx
/ProiectStackOverflow/.vs/ProiectStackOverflow/FileContentIndex/d75e9fad-7d04-4223-911a-6773d98ff42d.vsidx
/ProiectStackOverflow/.vs/ProiectStackOverflow/FileContentIndex/e426cf5e-e0a3-485a-88a0-27dea918910e.vsidx
/ProiectStackOverflow/.vs/ProiectStackOverflow/FileContentIndex/10503db5-c526-45b6-a3d8-bde1a09037f4.vsidx
/ProiectStackOverflow/.vs/ProiectStackOverflow/FileContentIndex/2c56ec23-33b4-4e9b-9663-66d61b7bda4d.vsidx
/ProiectStackOverflow/.vs/ProiectStackOverflow/FileContentIndex/61c2d519-d926-4dd1-8a1c-3b90069ca3d6.vsidx
/ProiectStackOverflow/.vs/ProiectStackOverflow/FileContentIndex/8bdb7093-b162-4a4c-a56e-5d61155e9d68.vsidx
/ProiectStackOverflow/.vs/ProiectStackOverflow/FileContentIndex/c7bd66a7-850f-4d97-a235-baa05f72eaa9.vsidx
/ProiectStackOverflow/.vs/ProiectStackOverflow/FileContentIndex/dfb2411e-9b10-456a-936b-0fd75e32a9e7.vsidx
/ProiectStackOverflow/.vs/ProiectStackOverflow/FileContentIndex/67758299-227b-4a61-8da3-710452b7c753.vsidx
/ProiectStackOverflow/.vs/ProiectStackOverflow/FileContentIndex/8dd0196d-9764-4091-8fe0-002e558d5cf9.vsidx
/ProiectStackOverflow/.vs/ProiectStackOverflow/FileContentIndex/9060c016-4f79-4e30-933f-8e9e1fa60f11.vsidx
/ProiectStackOverflow/.vs/ProiectStackOverflow/FileContentIndex/b8a2bc00-d24b-4590-909e-684412d21bce.vsidx
/ProiectStackOverflow/.vs/ProiectStackOverflow/FileContentIndex/d2988fde-fd63-42db-bfd6-61825cba3985.vsidx
/ProiectStackOverflow/.vs/ProiectStackOverflow/FileContentIndex/028d0e84-1b8b-4b02-9151-3c6b4ac9b215.vsidx
/ProiectStackOverflow/.vs/ProiectStackOverflow/FileContentIndex/11be0503-a2cc-454d-8b1f-fbe6f5eec72d.vsidx
/ProiectStackOverflow/.vs/ProiectStackOverflow/FileContentIndex/220c76e9-280a-45d2-b10a-b6a71aac95d3.vsidx
/ProiectStackOverflow/.vs/ProiectStackOverflow/FileContentIndex/3a463ed7-d881-4763-9143-e5a0ea801b4f.vsidx
/ProiectStackOverflow/.vs/ProiectStackOverflow/FileContentIndex/87c07ee4-319d-422f-a0c6-b156c842e0d7.vsidx
