html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #b2bec3;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.navbar {
    background-color: #dfe4ea !important;
    border: none !important;
    box-shadow: 0 3px 12px #636e72 !important;
}

a.nav-link {
    color: #2c2c2c !important;
}

    a.nav-link:hover {
        color: #57606f !important;
    }

.logoutbtn {
    color: #2c2c2c !important;
}

    .logoutbtn:hover {
        color: #57606f !important;
    }

.note-editor .dropdown-toggle::after {
    display: none;
}

.font-montserrat {
    font-family: 'Montserrat', sans-serif;
}

.font-roboto {
    font-family: 'Roboto', sans-serif;
}

.font-logo {
    font-family: 'Permanent Marker', cursive;
}

    .font-logo:hover {
        color: #57606f !important;
    }

.footer-position {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #ffffff;
    text-align: center;
    box-shadow: 0 3px 12px #636e72;
}

.truncate {
    /* Required declarations: */
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    /* Limit the text block to x lines */
    -webkit-line-clamp: 5;
}
/*Pentru descrierea intrebarilor*/
.description {
    display: -webkit-box;
    -webkit-line-clamp: 2; /* Numãrul de rânduri */
    -webkit-box-orient: vertical;
    overflow: hidden;
    max-height: 3em; /* Înãl?imea a douã rânduri */
}

/*paginare*/

.pagination .page-link {
    background-color: #dfe6e9;
    color: #2d3436;
    border: 1px solid #2d3436;
}

.pagination .page-link:hover 
{
    background-color: #b2bec3; 
    color: #636e72; 
}

.pagination .page-item.active .page-link {
    background-color: #b2bec3;
    color: #2d3436;
    border-color: #2d3436;
}

.content 
{
    word-wrap: break-word;
    white-space: normal;
    overflow-wrap: break-word;
}

.utilizator 
{
    color: #333; /* Culoare pentru link-uri */
    text-decoration: none; /* Eliminã sublinierea */
}

.utilizator:hover 
{
    color: #636e72;
}



