@model ProiectStackOverflow.Models.Comment

<h2 class="text-center mt-5">Edit comment</h2>

<br />

<div class="container mt-5">
    <div class="row">
        <div class="col-md-6 offset-3">

            <form method="post" asp-action="Edit" asp-controller="Comments" asp-route-id="@Model.Id">
          
                <div class="form-group">
                    <label asp-for="Content" class="form-label">Content</label>
                    
                    <textarea asp-for="Content" class="form-control"></textarea>
                    <span asp-validation-for="Content" class="text-danger"></span>
                    
                </div>

                <button class="btn btn-sm alert-success m-3" type="submit">Edit comment</button>

            </form>

        </div>
    </div>
</div>

